/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: purple;
}

/* Movie details section */
#movieDetail {
  margin: 2em auto 0;
  max-width: 600px;
  height: 920px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

#pic {
  width: 100%;
  height: 550px;
  background-color: #EFEFEF;
  background-image: url('path/to/image.jpg');
  background-size: cover;
  background-position: center;
}

#info {
  padding: 2em;
  color: #333333;
}

#info h1 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#info p {
  line-height: 1.4;
  font-size: 1.2em;
}

#movieDetail:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transform: scale(1.02);
  transition: 0.3s;
}

/* Menu section */
#menu {
  padding: 3em 1em 0;
  height: 100%;
  width: 400px;
  background-color: #333333;
  color: #FFFFFF;
  float: left;
  border-radius: 10px;
}

#list {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 5px;
  transition: 0.2s;
}

#list:hover{
  transform: scale(1.01);
  background-color: #FFFFFF;
  color: #333333;
}

#label {
  margin-right: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

#title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}