

body {
    background-color: rgb(134, 134, 143);
    height: 1000px;
  }
  #movieDetail{
      margin-top: 2em;
      margin-right: 15em;
      float: right;
      background-color: #20211c;
      height: 920px;
      width: 600px;

  }
  h1 {
    text-align: center;
  }

  #pic{
      width: 100%;
      height: 550px;
      background-color: #20211c;
      margin-bottom: 0.3em;

  }

  #info{
     margin-top: 5em;
      margin: auto;
      background-color:rgb(219, 216, 212);
      color: #ff6600;
      height: 360px;
      font:1.2em/1.6em Verdana, Helvetica, Arial, sans-serif;
      font-weight: 530;
  }

  #movieDetail:hover {
      box-shadow: 0 8px 16px 0 rgba(256, 256, 256, 0.05); 
      scale: 1.02;
      transition: 0.3s;
    }
    #menu {
      padding-top: 3em;
      padding-left: 1em;
      background-color: darkpu;
      height: 100%;
      width: 400px;
      float: left;
      margin-left: 1em;
      color:cyan;
    }
    #list {
    cursor: pointer;
    margin: 1em;
    font-size: 20px;
    border: 1px solid;
    padding: 1em;
    border-radius: 5px;
    }

    #list:hover{
      scale: 1.01;
      background-color:rgb(219, 216, 212);
    }


    #label{
      margin-right: 1em;
      color: black;
      font-size: 1.1em;
      font-weight: bolder;
    }

    #title{
      font-weight: 700;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }