*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body .main-section{
    display: flex;
    flex-direction: row;
    margin: 30px 0 20px 0;
}
#buyTicket{
    outline: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 2px 4px;
    font-weight: 500;
}
#buyTicket:hover{
    background-color: transparent;
    color: red;
    border: 1px solid red;
}
body .main-section .section-1{
    margin-left: 15px;
}
body .main-section .section-1 #show-movies{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15px;
}
body .main-section .section-2{
    position: block;
    overflow: none;
    width: 45%;
}
body .main-section .section-2 img{
    width: 200px;
}
body .main-section .section-2 #movie-info{
    padding-left: 14em;
}
body .main-section .section-2 #movie-info h4{
    font-size: 17px;
}
